<h1 style='text-align: center; margin: 0 auto;padding: 5px'>Battle Game!</h1>
<h2 style='text-align: center; margin: 0 auto; padding: 15px'>Sing in with user names to start the game.</h2>
<form action='/names' method='post' style='text-align: center; ; padding: 15px; border: 1px solid black; letter-spacing: 1px; max-width: 80vw; margin: 0 auto; background-color: lavender; font-size: 12px'>
  <label for= 'first_user'>
   <input style='border: 1px solid black; border-radius: 28px' type='text' name='first_user'>
  </label>
  <label for='second_user'>
   <input style='border: 1px solid black; border-radius: 28px' type='text' name='second_user'>
  <label>
  <input style='border: 1px solid black; border-radius: 28px;' type='submit' name="Submit">

</form>