<div style='text-align: center; font-size: 20px; padding: 10px; border: 1px solid black; letter-spacing: 2px; max-width: 80vw; margin: 0 auto; background-color: coral'>
<%= @first_user %> vs <%= @second_user %>
<p><%= @first_user%> points: <%= @first_user_points%>  HP </p>
</div>