<form action='/names' method='post' style='text-align: center; ; padding: 15px; border: 1px solid black; letter-spacing: 1px; max-width: 80vw; margin: 0 auto; background-color: lavender; font-size: 12px'>
  first user <input style='border: 1px solid black; border-radius: 28px' type='text' name='first_user'>
  second user <input style='border: 1px solid black; border-radius: 28px' type='text' name='second_user'>
  <input style='border: 1px solid black; border-radius: 28px;' type='submit' name="Submit">
</form>